// Place all the styles related to the academico::encuestas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit{
	#padding: 30px;
	.encuesta{
		border: 1px solid rgb(77,77,77);
		padding: 30px 30px 30px;
		border-radius: 4px 4px 4px 4px;
	}   
}

