// Place all the styles related to the academico::encuestas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.hero-unit{
//	#padding: 30px;
//	.encuesta{
//		border: 1px solid rgb(77,77,77);
//		padding: 30px 30px 30px;
//		border-radius: 4px 4px 4px 4px;
//	}
//}
.estudiantes{
  background-color:whitesmoke;
  padding: 10px 25px 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid rgb(227, 227, 227);
  .modelos{
    text-align:justify
  }
  .elaborar{
  }
}
.profesores{
//  border: 1px solid rgb(77,77,77);
}
.administrativos{
//  border: 1px solid rgb(77,77,77);
}

