<div class="encuesta">
	<ul class="nav nav-tabs">
      <li><a href="#modelos" data-toggle="tab"><i class="icon-folder-open"></i> Encuestas</a></li>
		<li><a href="#elaborar" data-toggle="tab">Elaborar</a></li>
		<li><a href="#nuevo" data-toggle="tab">Nuevo</a></li>
	</ul>
	<div class="tab-content">
      <div class="tab-pane active" id="modelos">
        <% @encuestas.each do |encuesta|%>
          <%= encuesta.pregunta.denominacion %>
          <hr>
        <% end %>
      </div>
      <div class="tab-pane" id="elaborar">
        Creación de elaborar
        <hr>
      </div>
      <div class="tab-pane" id="nuevo">
        Creación de nuevas encuestas
        <hr>
      </div>
	</div>
</div>


