<h3>Encuesta para Estudiante</h3>
<!---carusel inico .......................... -->

<div class="row-fluid">
	
	
	
	
	
	<ul id="somos" class="span12">
		
		<span >
		
		</span>
	
		</span>
		<br/> </p><br/> </p>
		<p> <strong>
		INSTRUCCIONES:
		<br/> </p>
		</strong>Estimado estudiante, a continuación encontrará una serie de afirmaciones sobre
		temas diversos, lo que usted deberá hacer es leer detenidamente cada afirmación y responderla,
		marcando el radioButom en el casillero correspondiente a la alternativa que más  se  asemeja a su opinión .
		<br/> </p>
		La alternativa de  respuesta se  describe a continuación:
		</p>
		 
		 
	<!------------------------------------------PREGUNTA 1 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			1) ¿La Escuela Académico Profesional de Ingeniería en Informática y Sistemas, que gestiona la
			carrera Profesional, tiene un plan estratégico que ha sido elaborado con la participación de Estudiantes?
			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios1" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios1" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
	
	<!------------------------------------------PREGUNTA 2 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			2) ¿Conoces el plan estratégico de la Escuela Académico Profesional de 
			Ingeniería en Informática y Sistemas?
			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios2" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios2" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
		
		
		<!------------------------------------------PREGUNTA 3 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			3) ¿Las actividades académicas como horarios, uso de Aulas y
			 laboratorios, matriculas, exámenes, practicas profesionales están 
			 coordinadas para  asegurar el desarrollo del proyecto educativo en
			  tu Escuela académica?
			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios3" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios3" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
		
		
				<!------------------------------------------PREGUNTA 4 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			4) ¿La unidad académica tiene un sistema de gestión de la calidad implementado ?
			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios4" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios4" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
				<!------------------------------------------PREGUNTA 5 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			5) ¿La Unidad Académica tiene un programa implementado  que contribuye  a
			 internalizar  la cultura organizacional en los estudiantes, docentes y administrativos 
			 de la carrera profesional?

			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios5" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios5" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
	
				<!------------------------------------------PREGUNTA 6 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			6) ¿La Unidad Académica tiene un sistema de información y 
			comunicación implementado en su Escuela?


			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios6" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios6" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
	
	
	
				<!------------------------------------------PREGUNTA 7 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			7) ¿Conoces el Plan Operativo de la Escuela Académico Profesional 
			de ingeniería en Informática y Sistemas?


			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios7" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios7" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
				<!------------------------------------------PREGUNTA 8 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			8) ¿La Unidad Académica tiene programas implementados de
			 motivación e incentivos para los estudiantes?


			</strong>
			</p>
		</div>
    
		<div class="span2">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios8" id="optionsRadios" value="1" >
			Si
			</label>
		</div>
    
		<div class="span3">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios8" id="optionsRadios" value="2" >
			No
			</label>
		</div>
		
	</div>
	
	
		<!------------------------------------------PREGUNTA 9 .......................... -->	
		
	<div class="row-fluid">
		<div class="span7">
			<br/> </p>
			<p>  <strong>
			9) ¿Estás de acuerdo con las  estrategias aplicadas de enseñanza-aprendizaje?


			</strong>
			</p>
		</div>
    
		<div class="span1">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios9" id="optionsRadios" value="5" >
			TA
			</label>
		</div>
    
		<div class="span1">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios9" id="optionsRadios" value="4" >
			DA
			</label>
		</div>
		
		
		<div class="span1">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios9" id="optionsRadios" value="3" >
			PA
			</label>
		</div>
    
		<div class="span1">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios9" id="optionsRadios" value="2" >
			DE
			</label>
		</div>
		
		<div class="span1">
			<label class="radio">
			<br/> </p> 	<br/> </p>
			<input type="radio" name="optionsRadios9" id="optionsRadios" value="1" >
			NC
			</label>
		</div>
		
		
	</div>
	
		
		
	
</div>		
