<h3>Quiénes Somos?</h3>
<!---carusel inico .......................... -->

<div class="row-fluid">
	
	
	
	
	
	<ul id="somos" class="span12">
		
		 <span >
		
		 </span>
		 
		
		 <ul class="span7">
			 <%= image_tag "esis.jpg"%>
			  </ul>
		 
		 
		 
		 
		  </span>
		 
		
		
			
		 
		 
		<p>La <strong>
      Escuela Académica Profesional de Ingeniería Informática y Sistemas
    </strong>, está comprometida 
		con la formación de alto  nivel  científico,  tecnológico  y  humanístico,  para  atender  y 
		 solucionar  los  problemas  y necesidades de la región y el país.
		 
		 </p>
		         
		         <p>
		 
		 El presente currículo es un instrumento que permite cumplir las metas y obligaciones para la
		  cual fue creada, mediante la formulación integral en áreas cognoscitivas de Ciencia de Sistemas: 
		  Naturales, Formales, Sociales, Computación e Informática, Electrónica, Investigación y Educación,
		   así mismo como en actividades extracurriculares, proyección y extensión Universitaria. 
		</p>
		
		<p>
		   
		   El presente documento contiene aspectos relacionados con el marco teórico conceptual a través  del  enfoque
		      curricular,  basado  en  los  saberes  fundamentales  y  el  desarrollo  de  las funciones
		       básicas del profesional.Con el propósito de optimizar los factores que inciden 
		       en los aprendizajes y en el desarrollo de las destrezas y competencias necesarias para alcanzar
		        mejores niveles de calificación profesional y desempeño laboral, es necesario la acreditación y 
		        certificación por organismos internacionales, entonces, la evaluación es un instrumento de
		         fomento de la calidad de la educación que tiene por objeto la medición de los resultados y 
		         dificultades en el cumplimiento de las metas previstas en términos de aprendizajes, destrezas 
		         y competencias comprometidos con los estudiantes, la sociedad y el Estado, así como proponer 
		         políticas, programas y acciones para el mejoramiento de la calidad educativa. </p>
		         
		
	
	
</div>		
